.summary{
    float: left;
    /* width: 100%; */
    margin-top: 1.5rem;
    font-size: 1.2rem;
    text-align: right;
  }
  
.summary ul li {
    padding: 0.5rem 0;
}

.summary ul li span {
    display: inline-block;
    width: 30%;
}

.summary ul li.total {
    font-weight: bold;
}